/transformer/transformer-shakespeare/.idea/
/transformer/transformer-wikipedia/.idea/
/transformer/transformer-books/.idea/
/transformer/transformer-encoder-decoder/.idea/
/transformer/transformer-encoder-decoder/models
/.idea/
/transformer/transformer-wikipedia/models/
/transformer/transformer-wikipedia/data/
/transformer/transformer-wikipedia/logs/
/transformer/transformer-wikipeadia/.idea/vcs.xml